<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a id="home-table" href="/home-table">Home Table</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit User</li>
  </ol>
</nav>

{{#if alert}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{alert}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}

{{#each rows}}
<form class="row g-3 needs-validation" method="POST" action="/edit-personnel/{{this.id}}" novalidate>
    {{> personnel-form}}
</form>
{{/each}}

<script>
    let token = localStorage.getItem("token");
    let userID = localStorage.getItem("userID");

    let homeTablePageElement = document.getElementById("home-table");
    let urlHomeTablePage = homeTablePageElement.getAttribute("href");
    homeTablePageElement.setAttribute("href", urlHomeTablePage + "?token=" + token + "&userID=" + userID);
</script>