<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./assets/css/global.css">
    <meta charset="UTF-8">
    <title>TASKACARD</title>
</head>

<body>
<div class="navbar">
    
</div>

<div class="wrapper">
    <h1>Hello</h1>
    <div class="title-card">
        
    </div>
</div>

</body>
</html>