<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/assets/css/global.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/login/style.css" type="text/css">
    
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <div class="login-title-card">
        <span>User Login</span>
    </div>
    
    <div class="wide-card">
        <form method="POST" action="/login" novalidate>
            <span>Username</span>
            <input id="user-username" type="text" name="username" placeholder="Username...">
            <span>Password</span>
            <input id="user-password" type="password" name="password" placeholder="Password...">
            <button id="user-login">Log In</button>

            <a href="user-sign-up">
                <button id="user-sign-up">Not signed up? Create account</button>
            </a>
        </form>
    </div>

</body>
</html>