<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/assets/css/global.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/user-sign-up/style.css" type="text/css">
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>

<body>
    <div class="sign-up-title-card">
        <span>User Sign-Up:</span>
    </div>

    <div class="wide-card">
        <form method="POST" action="/sign-up" novalidate>
            <span>Email Address</span>
            <input id="user-email" type="email" name="email" placeholder="Email...">
            <span>Username</span>
            <input id="user-username" type="text" name="username" placeholder="Username...">
            <span>Password</span>
            <input id="user-password" type="password" name="password" placeholder="Password...">
            <button type="submit" id="sign-up">Sign Up</button>

            <div class="margin-space">
                <a href="login">
                    <button>Back to Login screen</button>
                </a>
            </div>
        </form>
    
    </div>

</body>
</html>