

.wide-card, .sign-up-title-card {
    width: 400px;
    height: 450px;
    margin: 0;
    position: absolute;
    left: calc(50% - 400px / 2 - 10px);
    top: calc((50% - 270px / 2 + 30px) - 40px);
    padding: 20px 10px 10px 10px;
    outline-style: solid;
    outline-color: var(--nav-bar-outline);
}

.sign-up-title-card {
    height: 40px;
    padding: 0 10px 0 10px;
    top: calc((50% - 270px / 2 - 30px) - 40px);
    background: var(--main-second-colour);
    border-radius: 10px;
    outline-style: solid;
    outline-color: var(--nav-bar-outline);
}

.sign-up-title-card span {
    line-height: 40px;
    text-align: center;
    width: 100%;
    display: block;
}

.wide-card span {
    font-weight: bold;
    display: block;
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

input {
    color: var(--black-text-colour);
    display: block;
    width: calc(100% - 100px);
    margin: 20px auto 20px auto;
    background: var(--main-third-colour);
    box-shadow: var(--shadow-smooth);
    outline: none;
    border: none;
    height: 40px;
    padding: 0 10px 0 10px;
    border-radius: 10px;
}

button {
    width: 140px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: var(--white-text-colour);
    background: var(--main-button-colour);
    box-shadow: var(--shadow-light);
    border-radius: 10px;
    outline: none;
    border: none;
    display: block;
    margin: 30px auto 0 auto;
    transition: 0.25s;
}

button:hover {
    background-color: var(--button-hover-colour);
}

a {
    text-decoration: none;
}