:root {
    --font-small: 16px;
    --font-medium: 18px;
    --font-large: 24px;
    --font-family: "Helvetica Neue", "Lucida Grande", "Arial", "Verdana", "Tahoma", sans-serif;

    --main-colour: rgb(189, 229, 224);
    --main-second-colour: rgb(255,255,255);
    --main-button-colour: rgb(223,131,38);
    --button-icon-colour: rgb(14,12,10);
}

html, input, textarea {
    font-family: var(--font-family);
}

body {
    background: var(--main-colour);
}

.navbar {
    background: var(--main-second-colour);
    
    
    font-size: var(--font-larger);
    text-align: center;
    padding: 25px 25px 25px 25px;
    width: auto;
    display: block;
    margin-bottom: 15px;
}

.navbar-button {
    fill: var(--button-icon-colour);
    color: var(--main-second-colour);
    background-color: var(--main-button-colour);
    
    border-radius: 10px 10px 10px 10px;
    display: inline-block;font-size: medium;
    padding: 10px 10px 10px 10px;
    margin: 2px;
    cursor: pointer;
    height: 50px;
    width: 140px;
    border: none;
    outline: none;
    transition: 0.25s;
}

.title-text {
    font-size: var(--font-larger);
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}