.kanban {
    display: flex;
    padding: 30px;
    width: auto;
    background: var(--kanban-area);
    border-radius: 5px;
}

.kanban-column {
    flex: 1;
}

.kanban-column:not(:last-child) {
    margin-right: 30px;
}

.kanban-column-title {
    margin-bottom: 20px;
    color: var(--white-text-colour);
    font-size: var(--font-large);
    user-select: none;
}

.taskcard-input {
    padding: 10px 15px;
    box-sizing: border-box;
    background: var(--main-second-colour);
    cursor: pointer;
    border-radius: 5px;
}

.kanban-dropzone {
    height: 10px;
    transition: backgorund 0.20s, height 0.20s;
}

.kanban-dropzone--active {
    height: 20px;
    background: var(--kanban-drop);
}

.taskcard-add {
    width: 100%;
    padding: 10px 0;
    font-size: var(--font-medium);
    color: var(--white-text-colour);
    background: var(--taskcard-colour);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*styling for wide card used in page*/
.kanban-wide-card {
    background: var(--main-second-colour);
    box-shadow: var(--shadow-light);
    color: var(--black-text-colour);
    padding: 10px 10px 10px 10px;
    margin: 20px auto 20px auto;
    width: calc(100% - 40px - 20px);
    border-radius: 10px;
    display: block;
    font-size: var(--font-small);
}

/*styling for card title text*/
.card-text {
    font-size: medium;
    font-weight: bold;
}

/*styling for card body text*/
.card-body-text {
    font-size: medium;
}

.card-text-align {
    text-align: center;
}

/*space margining between elements*/
.margin-space {
    padding: 20px 10px 0px 5px;
}

/*webkit-user text keyboard identifier for task cards on iOS browser*/
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}