.settings-title-card {
    background: var(--main-second-colour);
    box-shadow: var(--shadow-light);
    color: var(--black-text-colour);
    font-size: var(--font-medium);
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    margin: 20px auto 0 auto;
    width: calc(100% - 40px - 20px);
    border-radius: 10px;
    display: block;
}

.wide-card {
    outline-style: solid;
    outline-color: var(--nav-bar-outline);
}

.logout-button {
    text-align: center;
    padding: 10px 10px 10px 10px;
    background: var(--main-button-colour);
    color: var(--white-text-colour);
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: var(--font-medium);
    cursor: pointer;
    margin: auto auto;
    display: block;
    text-decoration: none;
    width: 81px;
    transition: 0.25s;
}

button:hover {
    background-color: var(--button-hover-colour);
}

a {
    text-decoration: none;
}

/*space margining between elements*/
.margin-space {
    padding: 30px 10px 0px 5px;
}